@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrainsMonoNerdFontMono-Regular.ttf");
}

header {
    margin: 0;
    padding: 14px;
    background-color: #00000083;
    border-bottom: 2px solid #ffffff33;
    display: flex;
    gap: 10px;
    position: sticky;
    top: 0;
    backdrop-filter: blur(4px);
}

h1, h2, h3 {
    margin: 1px;
}

@keyframes pan-background {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 64px 64px;
    }
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    background-attachment: fixed;
    font-family: "JetBrains Mono";
    color: #ffffff;
    background-size: 64px 64px;
    background-image:
        linear-gradient(to right, #1b1b1b 2px, transparent 2px),
        linear-gradient(to bottom, #1b1b1b 2px, transparent 2px);
    height: 100vh;
    box-shadow: inset 0 0 100px 20px rgba(0, 0, 0, 0.8);
    animation: 6s linear infinite pan-background;
}

.ui-landing {
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.ui-landing-title {
    color: inherit;
    font-family: "JetBrains Mono";
    font-size: 42px;
    text-shadow: 0px 0px 17px #a764ff;
    transition: all 0.7s;
}

.ui-landing-title:hover {
    text-shadow: 0px 0px 24px #6f00ff;
}

.ui-landing-subtitle {
    color: #ffffff88;
    font-family: "JetBrains Mono";
    font-size: 14px;
}

a {
    color: inherit;
    text-decoration-color: #ffffff44;
    text-decoration-thickness: 2px;
    transition: all 0.7s;
}

a:hover {
    text-decoration-color: #ffffff66;
}

.ui-header-nav a {
    text-decoration: none;
    background-color: #ffffff22;
    padding: 4px;
    transition: all 0.7s;
}

.ui-header-nav a:hover {
    background-color: #ffffff44;
}

.ui-profile-container {
    display: flex;
    flex-direction: column;
    height: 90vh;
    padding: 20px;
    align-content: center;
    justify-content: center;
    background-image: 
        linear-gradient(#000000ff, #00000000, #000000ff),
        url("/img/bg0.png");
    background-blend-mode: multiply;
    background-color: #474747;
    background-blend-mode: multiply;
    background-size: cover;
}

.ui-profile-title {
    font-weight: bold;
    font-size: 35px;
    color: #ffffffdd;
}

.ui-profile-subtitle {
    font-weight: normal;
    color: #ffffffdd;
}

.ui-gradient-fadeout {
    background: linear-gradient(#000000ff, #00000000);
}

.ui-gradient-fadein {
    background: linear-gradient(#00000000, #000000ff);
}

.ui-section {
    padding: 20px;
}

.ui-section-title {
    font-weight: bold;
    font-size: 35px;
}

.ui-section-list {
    list-style-type: square;
}

.ui-section-list li::marker {
    vertical-align: middle;
}

.ui-section-list li h3 {
    font-size: 24px;
    font-weight: bold;
}

.ui-section-images img {
    width: 100%;
    object-fit: cover;
}

.ui-footer {
    background-color: #000000;
    padding: 20px;
    color: #ffffff77;
    font-size: small;
    text-align: center;
}