@font-face {
    font-family: "JetBrains Mono";
    src: url("../fonts/JetBrainsMonoNerdFontMono-Regular.ttf");
}

header {
    margin: 0;
}

@keyframes pan-background {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 64px 64px;
    }
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #000000;
    background-size: 64px 64px;
    background-image:
        linear-gradient(to right, #ffffff16 2px, transparent 2px),
        linear-gradient(to bottom, #ffffff16 2px, transparent 2px);
    box-shadow: inset 0 0 100px 50px rgba(0, 0, 0, 0.8);
    animation: 6s linear infinite pan-background;
}

.ui-landing {
    display: flex;
    flex-direction: column;
    color: white;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
}

.ui-landing-title {
    color: inherit;
    font-family: "JetBrains Mono";
    font-size: 42px;
    text-shadow: 0px 0px 17px #a764ff;
    transition: all 0.7s;
}

.ui-landing-title:hover {
    text-shadow: 0px 0px 24px #6f00ff;
}

.ui-landing-subtitle {
    color: #ffffff88;
    font-family: "JetBrains Mono";
    font-size: 14px;
}

a {
    color: inherit;
    text-decoration-color: #ffffff44;
    text-decoration-thickness: 2px;
    transition: all 0.7s;
}

a:hover {
    text-decoration-color: #ffffff66;
}